
.tile-group.five
  .tile-group-title In-room
  - @in_rooms.each do |m|
    .tile{"data-click" => "transform"}
      .tile-content.image
        %img{:src => "#{m.avatar}"}/
      .brand
        .label.fg-amber #{m.name}
        .badge.available
    / end tile
/ End group

.tile-group.three
  .tile-group-title Absent
  - @absents.each do |m|
    %a.tile.half.bg-dark{"data-click" => "transform"}
      .tile-content
        %img{:src => "#{m.avatar}"}/
/ End tile group
