- @members.each do |m|
  .image-container.shadow{"id" => "#{m.name}", "data-click" => "transform" }
    %img.cycle.span2{"src" => "#{m.avatar}"}
    .overlay-fluid
      #{m.name}: #{@statuses[m.name]}
