!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "slackattend with Metro UI CSS Framework", :name => "product"}/
    %meta{:content => "Attendance management application with slack", :name => "description"}/
    %meta{:content => "Iori Mizutani, Tokyo, Japan", :name => "author"}/
    %link{:href => "vendor/Metro-UI-CSS/min/metro-bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "vendor/animate.css/animate.css", :rel => "stylesheet"}/
    / Load JavaScript Libraries
    %script{:src => "vendor/jquery/dist/jquery.min.js"}
    %script{:src => "vendor/jqueryui/ui/widget.js"}
    / Metro UI CSS JavaScript plugins
    %script{:src => "vendor/Metro-UI-CSS/min/metro.min.js"}
    / Local JavaScript
    %script{:src => "js/slackattend.js"}
    %script
      in_action = "#{@in_action}";
      out_action = "#{@out_action}";
    %title= @title
  %body.metro
    .tile-area.tile-area-dark
      %h1.tile-area-title.fg-white slackattend
      .user-id
        .user-id-image
          %img{:src => "favicon.ico"}/
        .user-id-name
          %span.first-name Z202
          %span.last-name Status
      != yield
