!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "slackattend with Metro UI CSS Framework", :name => "product"}/
    %meta{:content => "Attendance management application with slack", :name => "description"}/
    %meta{:content => "Iori Mizutani, Tokyo, Japan", :name => "author"}/
    %link{:href => "vendor/css/metro-bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "vendor/css/metro-bootstrap-responsive.css", :rel => "stylesheet"}/
    %link{:href => "vendor/css/prettify.css", :rel => "stylesheet"}/
    %link{:href => "vendor/css/animate.css", :rel => "stylesheet"}/
    / Load JavaScript Libraries
    %script{:src => "vendor/js/jquery.min.js"}
    %script{:src => "vendor/js/jquery.widget.min.js"}
    %script{:src => "vendor/js/prettify.js"}
    / Metro UI CSS JavaScript plugins
    %script{:src => "vendor/js/load-metro.js"}
    / Local JavaScript
    %script{:src => "js/main.js"}
    %title= @title
  %body.metro
    .tile-area.tile-area-dark
      %h1.tile-area-title.fg-white slackattend
      .user-id
        .user-id-image
          %img{:src => "favicon.ico"}/
        .user-id-name
          %span.first-name Z202
          %span.last-name Status
      != yield
