
$font_black : #222;

@mixin content {
}

body {
  @include content;
  background-color : #fff;
  color : $font_black;
}

#newulong-navbar-form {
  margin-top : 8px;
  margin-bottom : 0px;
  float : right;
}

#search-selecter {
  margin-right : 5px;
}

#search-box {
  margin-top : 10px;
  margin-left : 10px;
  margin-right : 10px;
  margin-bottom : 20px;
}

#select-actions {
  padding-left : 15px;
}

#main div, #select-actions div {
  margin : 10px;
  font-size : 95%;
}

button#group-branch-btn {
  visibility: hidden;
}

div#gmap {
  width: 500px;
  height: 500px;
  margin: 0px;
  padding: 0px;
}

div#el-preview {
  background: #333;
  color: #fff;
}

img#el-img {
  max-width: 300px;
  height: auto;
}

img#stock-img {
  max-width: 600px;
  height: auto;
}

.popover {
  background: #333;
  border: 1px solid #ccc;
  color: #fff;
  max-width: 600px;
}
